@import url('https://fonts.googleapis.com/css2?family=Work+Sans');

$lightGray: #EEEEEE;

* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box; 
    font-family: 'Work Sans', sans-serif;
    color: #666666;
 }

 .header-right {
    float: right;
    display: flex;
    align-items: center;
    span{
      color: #ADADAD;
      text-transform: uppercase;
      padding-top: 3px;
      padding-right: 5px;
    }
  }
 
  .header {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
    padding: 2% 7% 0;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  }

  .section-one{
    display: flex;
  }

  @media screen and (max-width: 767px) {
    .section-one{
      display: flex;
      flex-direction: column;
      
    }
    .section-one div{
      width: 100%;
    }
  }

  .section-one-left{
    background-color: #EEEFEF;
    padding: 2% 0 2% 7%;
    width: 35%;
  }
  .section-one-middle{
    background-color: #E5E4E4;
    width: 58%;
    padding: 2%;
    text-align: center;
    sup{
      color: #C1C1C1;
      font-size: 19px;
    }
  }

  .section-one-middle p{
    text-transform: uppercase;
    font-size: 20px;
    color: #333333;
    font-weight: bold;
  }
  .section-one-txt-one{
    font-size: 18px;
    margin: 4% 0 8% 0;
  }
  .section-one-txt-one span{
    color: #FF5D27;
    text-decoration: underline;
    font-weight: bold;
  }
  .boxes{
    display: flex;
    justify-content: center;
  }
  .boxes section{
    background-color: white;
    border-radius: 10px;
    margin: 2%;
    width: 20%;
    
  }
  .boxes span{
    font-size: 45pt;
    font-weight: bold;
  }
  .boxes :nth-child(1) span{
    color: #FFC31F;
  }
  .boxes :nth-child(2) span{
    color: #3E97FF;
  }
  .boxes :nth-child(3) span{
    color: #26BE0A;
  }
  .dividers{
    display: flex;
    justify-content: center;
  }
  .dividers :nth-child(1){
    border-bottom: 8px solid #FFC31F;
    width: 24%;
  }
  .dividers :nth-child(2){
    border-bottom: 8px solid #3E97FF;
    width: 24%;
  }
  .dividers :nth-child(3){
    border-bottom: 8px solid #26BE0A;
    width: 24%;
  }
  .section-one-middle button{
    width: 68%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background: white;
    color: #FF5D27;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 3%;
  }

  .section-two-middle{
    width: 58%;
  }

  @media screen and (max-width: 767px) {
    .section-two-middle{
      width: 100%;
      padding: 0 0 0 3%;
    }
  }


  .section-two, .modal{
    display: flex;

    .hide {
      max-height: 0 !important;
  }
.section-two-left{
  width: 35%;
  padding: 0 2% 0 7%;
}

@media screen and (max-width: 767px) {
  .section-two-left{
    display: none;
  }
}
  
  .dropdown, .dropdown-two, .dropdown-three, .dropdown-four{
    .title{
      margin: 3% 0 4% 0;
      width: 100%;
      color: #FF5D27;
      text-transform: uppercase;
      size: 21px;
      font-weight: bold;
    }
  }
  
  .dropdown, .dropdown-two, .dropdown-three, .dropdown-four{
    .title {
      .fa-angle-right{
        float: right;
        margin-right: .7em;
        transition: transform .3s;
      }
    }
  }
  
  .dropdown .menu, .dropdown-two .menu-two, .dropdown-three .menu-three, .dropdown-four .menu-four{
    transition: max-height .5s ease-out;
    max-height: 20em;
    overflow: hidden;
  }

.menu-two, .menu-three, .menu-four {
  label{
    margin: 3%;
  }
}
.menu-two {
  li{
    margin: 3%;
    size: 18px;
  }
}
.menu-three{
  div div ul li{
    margin: 5%;
    size: 18px;
  }
}

.menu-four{
  div div ul li{
    margin: 3%;
    size: 18px;
  }
}
.dropdown, .dropdown-two, .dropdown-three, .dropdown-four{
  margin-bottom: 10%;
  padding-bottom: 7%;
  border-bottom: 2px solid #CCCCCC;
}
ul{
  list-style: none
}
  .pointerCursor:hover{
    cursor: pointer;
  }
  
  .rotate-180{
    transform: rotate(180deg);
  }
    .filter-btns{
      text-align: right;
      margin: 4% 0;

      .filter-btn{
        border-radius: 8px;
        font-size: 16px;
        color: #333333;
        background-color: #fff;
        border: none;
        margin-left: 1em;
        cursor: pointer;
      }
      @media screen and (max-width: 767px) {
        .filter-btn{
          border-radius: 8px;
          font-size: 12px;
          color: #333333;
          background-color: #fff;
          border: none;
          margin-left: 0;
          cursor: pointer;
        }
      }
    .btn-with-bg{
      background-color: $lightGray;
      padding: 0.5em 1em;
    }
    .btn-without-bg{
      border: 2px solid $lightGray;
      font-weight: bold;
      padding: 0.5em 1.5em;
    
    }
    }

    @media screen and (max-width: 767px) {
      .filter-btns{
        text-align: center;
        margin: 1% 0;
        width: 100%;
      }
    }

    .modal-product-card{
      border: 0 !important;
    }
    .product-card{
      border-top: 2px solid $lightGray;
      padding-top: 1em;
      margin-top: 1em;
      display: flex;
      cursor: pointer;
      
      .product-content{
        padding-left: 1em;
        width: 100%;
        .product-title{
          font-size: 24px;
        }
        .product-body{
          display: flex;
          justify-content: space-between;
          margin-top: 1em;
          margin-bottom: 0.7em;
          .type{
            border: 1.8px solid blue;
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.3em;
            text-align: center;
            .type-txt{
              color: blue;
            }
          }
        }
        .product-price{
          display: flex;
          justify-content: space-between;
          .price{
            font-size: 31px;
            font-weight: bold;
            color: #005999;
          }
          .info-img{
            align-self: center;
          }
        }

        .loaders{
          display: flex;
          margin-top: 0.5em;
          #file{
            width: 3.5em;
            border-radius: 0;
            margin-right: 2px;
            height: 8px;
            color: blue;
            background-color: blue;
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      .product-card{
        display: flex;
        flex-direction: column;
      }
      .shop-wrapper{
        width: 100%;
      }
    //   .product-card img, div{
    //     width: 100%;
    //   }
    }
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .border-top{
    border-top: 3px solid $lightGray;
    margin: 1em 0;
    padding: 1em 0;
  }
  .car-header{
    color: #FF5D27;
    text-transform: uppercase;
  }
  .black-color{
    color: black;
    font-weight: bolder;
  }
  .flex-display{
    display: flex;
    justify-content: space-between;
  }
  .full-width{
    width: 48%;
  }
  .details{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    .product-content{
      padding-left: 1em;
      font-size: 20px;
      color: black !important;
    }
  }
  .modal-content {
    background-color: #fefefe;
    margin: 1% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #FE5C27;
    border-radius: 50%;
    height: 30px;
    width:  30px;
    text-align: center;
  }
  b{
    color: black;
  }
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }
  .model-element{
    margin: 3em;
    padding: 0 10%;
  }
  .prezzi{
    cursor: pointer;
  }
  .shop-btn{
    background-color: #FF5D27;
    width: 100%;
    margin: 1em 0;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    padding: 0.5em;
    font-size: 18px;
    cursor: pointer;
  }

  .footer{
    background-color: #333333;
    padding: 3% 3% 3% 7%;
    margin-top: 5%;
  }

  .footer-section-one{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 2%;
  }
  .footer-big-title{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    padding-right: 5%;
    text-transform: uppercase;
  }

  .footer-sub-section-one{
    display: flex; 
    align-items: center;
  }

  @media screen and (max-width: 767px) {
    .footer{
      background-color: #333333;
      padding: 2% 2% 2% 2%;
    }
    .footer-section-one{
      display: flex;
      flex-direction: column;
    }

    .footer-big-title{
      color: #FFFFFF;
      font-size: 20px;
      font-weight: bold;
      padding-right: 2%;
      
    }
    .footer-icons{
      padding-top: 3%;
      text-align: center;
    }
  }
